    </main>
    <footer>
        <p>Designed by Sharon Veldman for the CMD minor web design and developnent</p>
        <a href="http://www.github.com/sharonV33">Github</a>
        <a href="https://www.linkedin.com/in/sharon-veldman-9a6a94147/">Linkedin</a>
    </footer>
    </body>
</html>