<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Album discovery</title>
        <meta charset="UTF-8">
        <meta name="description" content="Metalcore album discovery">
        <meta name="keywords" content="Metalcore, metal, music">
        <meta name="author" content="Sharon Veldman">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000">
        <link rel="icon" type="image/png" href="/img/icons/icon-92x92.png"/>


        <link rel="stylesheet" href="/dist/style.css">
        <link rel="manifest" href="/manifest.json">
        <script defer src="/dist/script.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <!-- ios support-->
        <link rel="apple-touch-icon" href="/img/icons/icon-92x92.png">
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Album discovery</h1>
            </a>
            <a href="/favourites">
                <p>Recently viewed</p>
            </a>
        </header>
        <main>