<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Album discovery</title>
        <meta charset="UTF-8">
        <meta name="description" content="Metalcore album discovery">
        <meta name="keywords" content="Metalcore, metal, music">
        <meta name="author" content="Sharon Veldman">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="https://i.ibb.co/zsp6sm1/favicon.png"/>


        <link rel="stylesheet" href="/style.css">
        <link rel="manifest" href="/manifest.json">
        <script src="/script.js"></script>
        <!-- ios support-->
        <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Album discovery</h1>
            </a>
        </header>
        <main>