body {
    background-color: #000000;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    width: 100vw;
    background-color: #1F788C;
    color: #62D9CD;
    box-shadow: -1px 7px 20px 0px #404040;
}

header a,
header a:visited {
    color: #62D9CD;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin: 5em 0;
}
/*home styling*/

main > a {
    flex-basis: 20%;
}

/*album detail styling*/

article {
    flex-direction: column;
}

a i {
    border: solid #62D9CD;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 1em;
}

article section {
    margin-bottom: 1em;
}

article section:first-of-type {
    width: 80%;
    margin: 0 auto;
}

article section:nth-of-type(2),
article section:nth-of-type(3) {
    display: flex;
    justify-content: center;
}

article section h2 {
    margin: 0 1em;
    flex: 1;
    color: #62D9CD;
}

article section h2:first-of-type {
    text-align: end;
}

article section:nth-of-type(3) div,
article section:nth-of-type(3) ul {
    margin: 0 1em;
    flex: 1;
}

article section:nth-of-type(3) div {
    display: flex;
    justify-content: flex-end;
}

article section:nth-of-type(3) ul {
    list-style: none;
    padding: 0;
    margin-left: 2em;
}

article section:nth-of-type(3) ul li {
    margin-bottom: 0.4em;
}

article section:nth-of-type(4) {
    text-align: center;
    align-self: center;
    line-height: 1.6em;
    margin: auto;
    width: 50%;
}

article section:nth-of-type(4) p a,
article section:nth-of-type(4) p a:visited {
    color: #62D9CD;
    text-decoration: none;
}

header a p span {
    content:  "\2665";
}

/*favourite styling*/
.favourite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.favourite h2 {
    width: 100%;
    text-align: center;
}

.favourite p {
    color: #ffffff;
}
footer {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #37448C;
    color: #fff;
    padding: 0.5em 0;
    box-shadow: -1px -7px 20px 0px #404040;
}

footer a,
footer a:visited {
    margin: 0 2em;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1000px) {
    .albumDetails {
        width: 80vw;
    }
}

@media (max-width: 800px) {
    a i {
        display: none;
    }

    article section {
        flex-direction: column;
        align-items: center;
    }
    .albumDetails {
        flex-direction: row;
        width: 100vw;
        overflow-X: hidden;
        justify-items: center;
    }

    .albumDetails h2 {
        justify-self: center;
        grid-column: 1;
    }

    .albumDetails h2:first-of-type {
        grid-row: 1;
    }

    .albumDetails h2:nth-of-type(2){
        grid-row: 2;
    }

    .albumDetails img {
        grid-column: 1;
        grid-row: 3;
        margin-top: 1em;
    }

    .albumDetails section {
        grid-column: 1;
        grid-row: 5;
        max-width: 70vw;
        word-break: break-word;
    }

    .albumDetails ul {
        grid-column: 1;
        grid-row: 4;
    }

}