body {
    background-color: #000000;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    width: 100vw;
    background-color: #1F788C;
    color: #62D9CD;
    box-shadow: -1px 7px 20px 0px #404040;
}

header a,
header a:visited {
    color: #62D9CD;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin: 5em 0;
}
/*home styling*/

/*album detail styling*/
a i {
    border: solid #62D9CD;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 1em;
}

.albumDetails {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
    grid-column-gap: 4em;
}

.albumDetails h2{
    color: #62D9CD;
    grid-row: 1;
}

.albumDetails h2:first-of-type {
    justify-self: end;
    grid-column: 1;
    grid-row: 1;
}

.albumDetails h2:nth-of-type(2 ){
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
}

.albumDetails img {
    grid-column: 1 ;
    grid-row: 2;
    margin-bottom: 1em;
    justify-self: end;
}

.albumDetails ul {
    grid-column: 2;
    grid-row: 2;
    list-style: none;
    padding: 0;
}

.albumDetails ul li {
    margin: 0.5em 0;
}

.albumDetails section {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.albumDetails section p {
    line-height: 1.6em;
}

.albumDetails form input[type=submit] {
    border: none;
    background-color: unset;
    text-decoration: underline;
    font-size: 1em;
    margin: 2em;
}

header a p span {
    content:  "\2665";
}

/*favourite styling*/
.favourite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.favourite h2 {
    width: 100%;
    text-align: center;
}
footer {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #37448C;
    color: #fff;
    padding: 0.5em;
    box-shadow: -1px -7px 20px 0px #404040;
}

footer a,
footer a:visited {
    margin: 0 2em;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1000px) {
    .albumDetails {
        width: 80vw;
    }
}

@media (max-width: 800px) {
    a i {
        display: none;
    }
    .albumDetails {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        overflow-X: hidden;
        justify-items: center;
    }

    .albumDetails h2 {
        justify-self: center;
        grid-column: 1;
    }

    .albumDetails h2:first-of-type {
        grid-row: 1;
    }

    .albumDetails h2:nth-of-type(2){
        grid-row: 2;
    }

    .albumDetails img {
        grid-column: 1;
        grid-row: 3;
        margin-top: 1em;
    }

    .albumDetails section {
        grid-column: 1;
        grid-row: 5;
        max-width: 70vw;
        word-break: break-word;
    }

    .albumDetails ul {
        grid-column: 1;
        grid-row: 4;
    }

}