<%- include('../partials/header') %>


<section class="favourite">
    <h2>Here are your recently vieuwed albums</h2>



</section>
<script defer src="/storeAlbums.js"></script>


<%- include('../partials/footer') %>