<%- include('../partials/header') %>


<% allAlbums.forEach(function(album) { %>
    <a href="/mbid/<%= album.mbid%>">
        <img src=<%= album.image[3]['#text'] %> />
    </a>
<% }) %>


<%- include('../partials/footer') %>