<%- include('../partials/header'); %>

<ul>
<% allAlbums.forEach(function(album) { %>
    <li>
        <strong><%= album.name %></strong>
        by <%= album.artist.name %>
    </li>
<% }) %>
</ul>




<%- include('../partials/footer'); %>